.ex-1-square {

    transition: 1s;
}

.ex-1-square:hover {
    background: red;
}

.ex-2-square{
    transition: 1s;

}
.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: 1s;

}

.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square{
    transition: 1s;

}

.ex-4-square:hover {
   background-color: rgba(240, 248, 255, 0);
}

.ex-5-square{
    transition: 1s;

}

.ex-5-square:hover {
   transform: scale(2);
}

.ex-5-square:active {
    transform: scale(.5);
 }

 .ex-6-img:hover{
    filter: grayscale(100)
    
 }

 .ex-7-img{
    transition: 1s;
 }

 .ex-7-img:hover{
    filter: contrast(20);
    filter: brightness(10);
    
    
 }

 .ex-8-img{
    transition: 1s;
 }
 .ex-8-img:hover{
    filter: contrast(20);
    filter: brightness(10);
    border-radius: 20px;
    
 }

 .ex-9-img{
    transition: 1s;
 }
 .ex-9-img:hover{
    filter: contrast(20);
    filter: brightness(10);
    border-radius: 20px;
    scale: 1.5;
    
 }

 .ex-10-icon{
    
 }